
img:hover{
    cursor: pointer;
    animation-name: scaleimage;
    animation-duration: 1s;
}
.restaurants{
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flexbox{
    display: flex;
    justify-content: center;
}
@keyframes scaleimage {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.05);
    }
}
